<!-- <section class="contenedor">
    <section>
        <div class="titulo-index">
            <h2>¿Sabías que 1 de cada 5 adultos en Chile tiene algún tipo de discapacidad?</h2>
        </div>
        <div class=" ">
          <p> Los problemas de accesibilidad los marginan de participar plenamente en la sociedad. Obstáculos en las calles, un transporte hostil y falta de fiscalización a leyes que los protegen, siguen invisibilizando a un importante sector de la población que ven vulnerados día a día sus derechos fundamentales.</p>
        </div>
        <div class="publicaciones-index">
            <a [routerLink]="['noticias']" class="boton-index botones-index">Noticias</a>
         </div>
    </section>
</section>

<div *ngIf="showCookieBanner" id="cookieBanner">
    <div id="cookieBanner" class="container-fluid fixed-bottom bg-light py-2 d-none">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-12 col-md-10 text-center text-md-start">
                <p class="mb-0 mb-md-2">Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Al utilizar este sitio, usted acepta nuestra <a href="politicas.html">politica de cookies</a>.</p>
            </div>
            <div class="col-12 col-md-2 text-center">
                <button id="aceptarCookies" class="btn btn-sm btn-success">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
    <button (onclick)="aceptarCookies()" id="aceptarCookies">Aceptar Cookies</button>
</div> -->

<div class="container contenedor">
    <div class="row">
        <div class="col">
            <div class="my-3 titulo-index">
                <h2 class="display-6">¿Sabías que 1 de cada 5 adultos en Chile tiene algún tipo de discapacidad?</h2>
            </div>
            <div class="my-3 contenido-index">
                <p> Los problemas de accesibilidad los marginan de participar plenamente en la sociedad. Obstáculos en las calles, un transporte hostil y falta de fiscalización a leyes que los protegen, siguen invisibilizando a un importante sector de la población que ven vulnerados día a día sus derechos fundamentales.</p>
            </div>
            <div class="my-3 publicaciones-index">
                <a [routerLink]="['/noticias']" class="btn btn-primary">Noticias</a>
            </div>
        </div>
    </div>
</div>


<div *ngIf="showCookieBanner" class="container-fluid fixed-bottom bg-light py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-10 text-center text-md-start">
                <p class="mb-0 mb-md-2">Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Al utilizar este sitio, usted acepta nuestra <a [routerLink]="['/politicas']">política de privacidad</a>.</p>
            </div>
            <div class="col-12 col-md-2 text-center">
                <button (click)="aceptarCookies()" class="btn btn-sm btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>

  
