<div class="wrapper">
  <div class="container">
    <h1 class="eslogan">
      "Tu donación ayuda a construir lugares accesibles para personas con discapacidades físicas. Juntos hacemos un mundo más inclusivo".
    </h1>
    <div class="contenedor-donaciones">
      <div id="donate-button-container">
          <button class="btn btn-primary btn-sm" (click)="donar()">Donar con PayPal</button>
          
          <p class="textPolPriv">Tus datos están protegidos. Consulta nuestra <a [routerLink]="['/politicas']">política de privacidad</a></p>
      </div>
      <!-- <p class="textPolPriv">Tus datos están protegidos. Consulta nuestra <a target="_blank" href="politicas.html" >política de privacidad</a></p> -->
    </div>
  </div>
</div>
