*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/rampa.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
}
  
.navbar-1{
    display: flex;
    align-items: center;
    background-color: #F9E79F;
    width: 100%;
}

.navbar-2 {
    display: flex;
    align-items: center;
    height: 20% !important;
    background-color: blue;
    width: 100%;
}
  
.logo .imagen-logo {
    width: 50%;
    float: left;
}
  
.info {
    display: flex;
    flex-direction: row;
    margin: 20px;
    grid-row: 20px;
    list-style: none;
    width: 50%;
}
  
.boton-donar{
    height: 5%;
    background-color: red;
    float: left;
}

.boton-acceder{
    height: 5%;
    background-color: purple;
    float: left;
}

.boton-index {
    background-color: #3d3d3d;
    color: white;
}
  
.boton-index, .boton-acceder, .boton-donar{
    border: none;
    padding: 8px 16px;
    border-radius: 15px !important;
    cursor: pointer; 
}

.botones-index:hover {
    background-color: #555 !important;
}

.navbar-2-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.navbar-2-li {
    margin-right: 20px;
}
  
.navbar-2-link {
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
  
.navbar-2-link:hover {
    text-decoration: underline;
}

.navbar-privacidad, .navbar-somos, .navbar-noticias{
    float: left;
}

.conteiner-involucrate{
    min-height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10%;
}


.titulo-involucrate{
    background-color: #32ADB2;
    border-radius: 2px;
}
.contenido-involucrate{
    display: grid;
    grid-gap: 35px;
    width: 700px;
    height: auto;
    background-color: rgba(155, 155, 155, 0.8);
    border-radius: 25px;
    position: relative;
}




/*cambios botones*/
.btn{
    background-color: #FFFF00 !important;
}
.link-boton{
    color: black;
}


/*Footer*/
footer{
    background-color: #202020;
    color: whitesmoke;
    width: 100%;
}

.container-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 22px;
}

.columna1 p{
    font-size: 14px;
    color: #C7c7c7;
    margin-top: 20px;
}

.columna2{
    max-width: 400px;
}

.columna2 h1{
    font-size: 22px;
}

.columna2 .row{
    margin-top: 20px;
    display: flex;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.columna3{
    max-width: 400px;

}

.columna3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 20px;
    margin-top: 10px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background-color: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7c7c7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informatio{
    text-decoration: none;
    color: white;
}