*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F9E79F;
}

.lista-noticias{
    display: flex;;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 20px;
}

.contenido-noticias{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 35px;
    max-width: 1000px;
    margin: auto;
}

.post-img1{
    /*background: url("assets/images/relojFlores.jpg");*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20px;
}





/*Footer*/
footer{
    background-color: #202020;
    color: whitesmoke;
    width: 100%;
}

.container-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 22px;
}

.columna1 p{
    font-size: 14px;
    color: #C7c7c7;
    margin-top: 20px;
}

.columna2{
    max-width: 400px;
}

.columna2 h1{
    font-size: 22px;
}

.columna2 .row{
    margin-top: 20px;
    display: flex;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.columna3{
    max-width: 400px;

}

.columna3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 20px;
    margin-top: 10px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background-color: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    color: #C7c7c7;
}


.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.informatio{
    text-decoration: none;
    color: white;
}