*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F9E79F;
}

.lista-noticias{
    display: flex;;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 20px;
}

.contenido-noticias{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 35px;
    max-width: 1000px;
    margin: auto;
}

.post-img1{
    background: url("");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20px;
}