/* header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;

}

.navbar-1{
  display: flex;
  align-items: center;
  background-color: #F9E79F;
  width: 100%;

}
.navbar-2 {
  display: flex;
  align-items: center;
  height: 20% !important;
  background-color: blue;
  width: 100%;
}

.logo .imagen-logo {
  width: 50%;
  float: left;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 20px;
  grid-row: 20px;
  list-style: none;
  width: 50%;
}

.boton-donar{
  height: 5%;
  background-color: red;
  float: left;
}

.boton-acceder{
  height: 5%;
  background-color: purple;
  float: left;
}
button {
  background-color: #3d3d3d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 15px !important;
  cursor: pointer;
}

button:hover {
  background-color: #555 !important;
}

.navbar-2 ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-2 li {
  margin-right: 20px;
}

.navbar-2 a {
  color: #3d3d3d;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-2 a:hover {
  text-decoration: underline;
}

.navbar-privacidad, .navbar-somos, .navbar-noticias{
  float: left;
}

.container-main{
  background-color: #97d5fc;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Crear post */
.create-post {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.create-post textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.create-post .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-post .options .option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 14px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.create-post .options .option:hover {
  background-color: #e6e6e6;
}

.create-post .options .option i {
  margin-right: 5px;
}

.create-post .options .option:last-child {
  margin-left: auto;
}

.create-post .options .option:last-child button {
  background-color: #1da1f2;
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.create-post .options .option:last-child button:hover {
  background-color: #0c85d0;
}

.create-post .options .option:last-child button {
  background-color: #ffffff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-post .options .option:last-child button:hover {
  background-color: #0c85d0;
}


/* Aparado publicaciones */

.post {
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: whitesmoke;

}
.post-comment-form{
  display: none;
}
  
.post-avatar {
    margin-right: 1rem;
}
  
.post-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
  
.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
  
.post-author {
  font-weight: bold;
  margin-right: 0.5rem;
}
  
.post-username {
  color: #555;
  margin-right: 0.5rem;
}
  
.post-timestamp {
  color: #aaa;
}
  
/* .tweet-media {
  margin-top: 1rem;
}
  
.tweet-media img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
} */
  
.post-actions {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}
  
.post-form {
  display: flex;
  flex-direction: column;
}
  
.post-form textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
  
.post-form-actions {
  display: flex;
  align-items: center;
}
  
.post-form-actions input[type="file"] {
  display: none;
}
  
.post-form-actions button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

/* Apartado sidebar */
 
.sidebar {
  text-align: center;
  float: left;
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  top: 120px;
  right: 85px;
  position: absolute;
}

.sidebar .logo {
  margin-bottom: 20px;
}

.sidebar .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #1da1f2;
  text-decoration: none;
}

.sidebar .search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.sidebar #search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: -40px;
}

.sidebar #search-button i {
  color: #1da1f2;
  font-size: 16px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: #444;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #f5f5f5;
  color: #1da1f2;
}


/*Footer*/
footer{
  background-color: #202020;
  color: whitesmoke;
  width: 100%;
}

.container-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;  
  justify-content: space-between;
}

.columna1{
  max-width: 400px;
}

.columna1 h1{
  font-size: 22px;
}

.columna1 p{
  font-size: 14px;
  color: #C7c7c7;
  margin-top: 20px;
}

.columna2{
  max-width: 400px;
}

.columna2 h1{
  font-size: 22px;
}

.columna2 .row{
  margin-top: 20px;
  display: flex;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin: 10px;
  margin-left: 20px;
  color: #c7c7c7;
}

.columna3{
  max-width: 400px;

}

.columna3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-left: 20px;
  margin-top: 10px;
  max-width: 140px;
}

.container-footer{
  width: 100%;
  background-color: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.copyright{
  color: #C7c7c7;
}


.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.informatio{
  text-decoration: none;
  color: white;
}