<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/images/usuario.png" alt="">
        <h1>Login</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="Ingrese mail">
            <label>Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Ingrese contraseña">
            <label>Correo electrónico</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg">Acceder</button>
        </div>
        <p class="mt-3">¿No tienes cuenta? <a [routerLink]="['registro']">Resgitrar</a></p>
    </div>
</div>
