<section>
    <div class="banner">
        <div class="container text-center">
            <h1>Involúcrate</h1>
            <p>Conoce cómo puedes ayudar a que la sociedad chilena y el mundo sea más inclusivo</p>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-deck">
                    <div class="card text-center text-card">
                        <h2>Infórmate</h2>
                        <img class="card-img-top img-fluid mx-auto d-block" src="../../../assets/images/notas.png" alt="info">
                        <div class="card-body">
                            <p>Trabajamos para que cada persona sienta la seguridad de que no habrán empedimientos a la hora de transitar por la ciudad y pueda vivir su vida de manera normal.</p>
                            <button class="btn btn-primary" type="submit" [routerLink]="['/noticias']">QUIERO CONOCER MÁS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-deck">
                    <div class="card text-center text-card">
                        <h2>Donar ahora</h2>
                        <img class="card-img-top img-fluid mx-auto d-block" src="../../../assets/images/corazon.png" alt="info">
                        <div class="card-body">
                            <p>Aporta a la causa donando a tráves de Paypal para poder financiar los proyectos y así mejorar la vida de miles de personas.</p>
                            <button class="btn btn-primary" type="submit" [routerLink]="['/donacion']">QUIERO DONAR AHORA</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-deck">
                    <div class="card text-center text-card">
                        <h2>Difunde</h2>
                        <img class="card-img-top img-fluid mx-auto d-block" src="../../../assets/images/comunicacion.png" alt="info">
                        <div class="card-body">
                            <p>Comparte nuestro sitio web a través de las redes sociales asociadas para crecer y obtener más alcance.</p>
                            <button class="btn btn-primary" type="submit" [routerLink]="['/inicio']">EN UN SOLO CLICK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-deck">
                    <div class="card text-center text-card">
                        <h2>Únete</h2>
                        <img class="card-img-top img-fluid mx-auto d-block" src="../../../assets/images/public-service.png" alt="info">
                        <div class="card-body">
                            <p>Regístrate en la página para obtener el permiso de navegar entre las publicaciones. Toma la oportunidad de contar tus problemáticas y ayúdanos a generar propuestas.</p>
                            <button class="btn btn-primary" type="submit" [routerLink]="['/login']">PARTICIPA EN LA COMUNIDAD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>