.wrapper{
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/fondo.jpg);
  // background-color: aqua;
}

.logo{
  max-width: 120px;
}

.body{
  max-width: 300px;
  width: 100%;
  padding: 40px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 2.8%;
}

.invalid-field {
  border-color: red;
  border: 2px solid;
}

.error-message {
  color: red;
}