<div class="container">
    <h1 class="titulo">Políticas de privacidad</h1>

    <section>
        <h2>Compromiso</h2>
        <p>En Chile Inclusivo, estamos comprometidos con proteger la privacidad de nuestros usuarios y seguidores. Esta Política de Privacidad describe cómo recopilamos, utilizamos, divulgamos y protegemos la información personal de nuestros usuarios de acuerdo con las leyes chilenas.</p>
    </section>

    <section>
        <h2>Recopilación y uso de información personal</h2>
        <p>Recopilamos información personal de nuestros usuarios solo cuando nos la proporcionan voluntariamente, como al registrarse en nuestro sitio web o al realizar una donación. La información personal que recopilamos puede incluir su nombre, dirección de correo electrónico, número de teléfono y dirección postal. Utilizamos esta información para mantener una relación con nuestros usuarios y para enviar información relevante sobre nuestras actividades y eventos.</p>
    </section>

    <section>
        <h2>Divulgación de información personal</h2>
        <p>No compartimos la información personal de nuestros usuarios con terceros sin su consentimiento, a menos que estemos obligados por la ley o en respuesta a una orden judicial. Tomamos medidas de seguridad razonables para proteger la información personal de nuestros usuarios contra el acceso no autorizado, la divulgación o la alteración. Sin embargo, no podemos garantizar la seguridad de la información transmitida a través de Internet.</p>
    </section>

    <section>
        <h2>Derechos de los usuarios</h2>
        <p>Los usuarios tienen derecho a acceder, corregir o eliminar su información personal que tenemos en nuestro poder. Para ejercer estos derechos, los usuarios pueden contactarnos a través de nuestro sitio web.</p>
    </section>

    <section>
        <h2>Cambios en la política de privacidad</h2>
        <p>Nos reservamos el derecho de cambiar esta Política de Privacidad en cualquier momento. Cualquier cambio entrará en vigencia inmediatamente después de la publicación de la Política de Privacidad actualizada en nuestro sitio web.</p>
    </section>

    <section>
        <h2>Contacto</h2>
        <p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, no dude en ponerse en contacto con nosotros a través de nuestro sitio web.</p>
    </section>
</div>
