<div class="container">
    <h1 class="titulo-qs">¿Quiénes somos?</h1>
    <div class="container-text">
        <h2>Nuestra misión</h2>
        <p>Bienvenidos a Chile Inclusivo, una iniciativa dedicada a mejorar la infraestructura para personas con discapacidad. Nuestro objetivo es garantizar que todas las personas, independientemente de sus limitaciones físicas, puedan acceder y utilizar con facilidad los espacios públicos y privados de su comunidad.</p>
        
        <h2>Nuestra visión</h2>
        <p>Estamos convencidos de que la accesibilidad es un derecho fundamental y que la falta de infraestructura adecuada puede limitar significativamente la calidad de vida de las personas con discapacidad. Por eso, trabajamos para promover la eliminación de barreras arquitectónicas y mejorar la accesibilidad en edificios públicos, espacios de trabajo, viviendas y transporte.</p>
        
        <h2>Nuestro equipo</h2>
        <p>Nuestro equipo está formado por profesionales con amplia experiencia en el ámbito de la arquitectura y la accesibilidad, así como por personas con discapacidad que conocen de primera mano los desafíos que enfrentan en su vida diaria. Todos ellos comparten una pasión por crear una sociedad más inclusiva y trabajan juntos para ofrecer servicios y programas que aborden las necesidades específicas de cada uno de nuestros clientes y usuarios.</p>
        
        <h2>Nuestra filosofía</h2>
        <p>En Chile Inclusivo, creemos en la importancia de la colaboración y el trabajo en equipo para lograr un cambio real en la accesibilidad y la inclusión. Trabajamos en estrecha colaboración con comunidades, empresas y organizaciones locales para implementar soluciones accesibles y sostenibles que beneficien a todas las personas.</p>

        <h2>Contacto</h2>
        <p>Si estás interesado en mejorar la accesibilidad de tus espacios o en conocer más acerca de nuestra labor, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte a construir un futuro más accesible y equitativo para todos.</p>
    </div>
</div>

